.popDiv{
    

  position: fixed; 
  inset: 0;

    width:var(--popDivWidth);
    height: var(--popDivHeight);

    backdrop-filter: var(--BackDropdropBlur);

    display: grid;
    justify-content: center;
    gap: 0;
    
}

.textArea{
margin-top: 0rem;

width: var(--textAreaWidth);
height: var(--textAreaHeight);
background-color: var(--textAreaBackGroundColor);
border: none;
color: var(--textColor);
border-radius: var(--textAreaRadius);
padding: var(--textAreaPadding);
resize: none;
}

.topButtonsList{
    list-style-type: none;
    display: flex;
    justify-content: end;
    gap: var(--EditorTopGap);
   
}

.topButtonsList input{
    background-color: var(--editTopButtonBackground);
    min-width: var(--buttonMinWidth);
    width: var(--buttonWidth);
    margin-right: var(--buttonMarginRight);
    margin-top: var(--buttonTop);
    border-radius: var(--borderRad);
    height: var(--buttonHeight);
    color: var(--buttonTextColor);
    font-size: var(--buttonFontSize);
    padding-left: var(--buttonPadding);
}



.bottomButtonsList{
    list-style-type: none;
    display: flex;
    justify-content: end;
    gap: var(--bottomButtonsGap);
    
   
}

.topButtonsList button{
    color: aliceblue;
    width: 5rem;
    height: 3rem;
    background-color: rgb(46, 46, 46);
    border: solid 2px rgb(255, 136, 0);
    border-radius: .5rem;
    
}

.bottomButtonsList button{
    color: aliceblue;
    width: 5rem;
    height: 3rem;
    background-color: rgb(46, 46, 46);
    border: solid 2px rgb(255, 136, 0);
    border-radius: .5rem;
    
}
.topButtonsList button:hover{

    background-color: var(--clrWhiteOrange);
    color: var(--clrOrange);
    transform: scale(1);
    transition-property: scale ;
    transition-duration: 200ms;
    scale: 1.05;
    
}

.bottomButtonsList button:hover{

    background-color: var(--clrWhiteOrange);
    color: var(--clrOrange);
    transform: scale(1);
    transition-property: scale ;
    transition-duration: 200ms;
    scale: 1.05;
    
}

.deleteBtn{
    margin-left: -17rem;
    
}

.popWindow{
    padding-top: .3rem;
    margin-top: 8rem;
    border-radius: 10px;
    background-color: rgb(58, 51, 41);
    border-color: rgb(255, 136, 0);
    width: 90vw;
    height: 80vh;
    display: grid;
    justify-content: center;
    
}