.popDiv{
    

  position: fixed; 
  inset: 0;

    width: 100vw;
    height: 100vh;

    backdrop-filter: blur(2px);

    display: grid;
    justify-content: center;
    gap: 0;
    background-color: rgba(255, 0, 234, 0);
}

.textArea{
margin-top: 0rem;

width: 80cqw;
height: 65cqh;
background-color: rgba(34, 34, 34, 0.952);
border: none;
color: whitesmoke;
border-radius: 5px;
padding: 1rem;
resize: none;
}

.topButtonsList{
    list-style-type: none;
    display: flex;
    justify-content: end;
    gap: .1rem;
    
   
}

.topButtonsList input{
    background-color: rgb(66, 66, 66);
    min-width: 13rem;
    width: 35cqw;
    margin-right: .7rem;
    margin-top: .3rem;
    border-radius: 5px;
    height: 2.5rem;
    color: aliceblue;
    font-size: 1.2rem;
    padding-left: 1rem;
}



.bottomButtonsList{
    list-style-type: none;
    display: flex;
    justify-content: end;
    gap: 1rem;
    
   
}

.topButtonsList button{
    color: aliceblue;
    width: 5rem;
    height: 3rem;
    background-color: rgb(46, 46, 46);
    border: solid 2px rgb(255, 136, 0);
    border-radius: .5rem;
    
}

.bottomButtonsList button{
    color: aliceblue;
    width: 5rem;
    height: 3rem;
    background-color: rgb(46, 46, 46);
    border: solid 2px rgb(255, 136, 0);
    border-radius: .5rem;
    
}
.topButtonsList button:hover{

    background-color: var(--clrWhiteOrange);
    color: var(--clrOrange);
    transform: scale(1);
    transition-property: scale ;
    transition-duration: 200ms;
    scale: 1.05;
    
}

.bottomButtonsList button:hover{

    background-color: var(--clrWhiteOrange);
    color: var(--clrOrange);
    transform: scale(1);
    transition-property: scale ;
    transition-duration: 200ms;
    scale: 1.05;
    
}

.popWindow{
    padding-top: .3rem;
    margin-top: 8rem;
    border-radius: 10px;
    background-color: rgb(58, 51, 41);
    border-color: rgb(255, 136, 0);
    width: 90vw;
    height: 80vh;
    display: grid;
    justify-content: center;
    
}