.Header{

background-color: var(--clrOrange);
box-shadow: var(--headerShadow);

}

.HeaderList{
display: flex;
gap:var(--headerListGap);
justify-content: center;
color:aliceblue;
font-family: cursive;
font-size: var( --headerItemsFontSize);

list-style-type: none;
padding: var( --headerPadding);

}

.Logo{
    display: flex;
    justify-content: center;
    font-family: cursive;
    color: aliceblue;
    font-size: 2rem;
    


}

.HeaderList li{
width: var(--headerItemsWidth);
height: var(--headerItemsHeight);
display: flex;
justify-content: center;

align-items: center;
}
.HeaderList li:hover{
    background-color: var(--clrWhiteOrange);
    color: var(--clrOrange);
    transform: scale(1);
    transition-property: scale ;
    transition-duration: 200ms;
    scale: 1.05;
}

.profile{

   
    width: 7rem;
    height: 15rem;
    background-color: rgb(255, 255, 255);
    border-radius: 50rem;
    background-image:  url("./picon.png");
    color: aliceblue;
    background-size: 4rem 3rem;
    background-position: center;
    background-repeat: no-repeat;
    border: solid 3px rgba(0, 0, 0, 0.568);
}



