.Header{

background-color: var(--clrOrange);
box-shadow: var(--headerShadow);

}

.HeaderList{
display: flex;
gap:var(--headerListGap);
justify-content: center;
color:aliceblue;
font-family: cursive;
font-size: var( --headerItemsFontSize);

list-style-type: none;
padding: var( --headerPadding);

}

.Logo{
    display: flex;
    justify-content: center;
    font-family: cursive;
    color: aliceblue;
    font-size: 2rem;
    


}

.HeaderList li{
width: var(--headerItemsWidth);
height: var(--headerItemsHeight);
display: flex;
justify-content: center;

align-items: center;
}
.HeaderList li:hover{
    background-color: var(--clrWhiteOrange);
    color: var(--clrOrange);
    transform: scale(1);
    transition-property: scale ;
    transition-duration: 200ms;
    scale: 1.05;
}