.listDiv{

    margin-top: var(--listDivMarginTop);
    padding-top: var(--listDivPaddingTop);
    background-color: var(--listDivBackgound);
    height: var(--listDivHeight);


    

}

.list{
    display: grid;
    justify-content: left;
    list-style-type: none;
    gap: var(--listGap);
    grid-template-columns: repeat(auto-fit, minmax(16rem, .25fr));
  
}