.window{
    position: fixed; 
    inset: 0;
    
      width:var(--popDivWidth);
      height: var(--popDivHeight);
    background-color: aqua;
      backdrop-filter: var(--BackDropdropBlur);
    

}
