:root{

    --clrLime : rgb(165, 255, 127);
    --clrOrange : rgb(255, 106, 0);
    --clrWhiteOrange : rgb(254, 255, 251);
    --clrPurple:rgba(225, 0, 255, 0.664);

    
    --headerShadow:.1rem .1rem 0.1rem  rgba(0, 0, 0, 0.411);
    --headerListGap:3rem;
    --headerItemsFontSize:1.2rem;
    --headerPadding:1rem;

    --headerItemsWidth:6rem;
    --headerItemsHeight:2.5rem;


    --backgroundColor:rgb(92, 92, 92);

    --fontMain: cursive;
    --titleSize:1.5rem;
    --titleClr : antiquewhite;
    --titleShadowClr:rgba(255, 255, 255, 0.507);
    --titleShadow:2px 2px 5px var(--titleShadowClr);
    --titleMargin:0.3rem;
    
    --textSize : 1.2rem;

    --slidePadding : 0.9rem;
    --slideMargin : 1rem;
    --slideBorderRadius: 1rem;
    --slideWidth: 13rem;
    --slideHeight:15rem;
    --slideShadowColor: rgba(24, 7, 7, 0.226);
    --slideShadow: .2rem .2rem 0.3rem var(--slideShadowColor);
    --slideBorder:solid 2px rgb(206, 206, 206);
    --slideMaxWidth:18rem;
    --slideMaxHeight:22rem;

    --decoColor:rgb(255, 166, 0);
    --decoWidth:1.5rem;
    --decoHeight:3rem;
    --decoRadius:5px;
    --decoTopMargin:1rem;
    --decoMarginLeft:-1.5rem;
    --decoBorder:solid 1px rgba(224, 224, 224, 0.801);

    --noteTextDivMargin:-1.3rem;
    --noteTextDivBorderRad:0.1rem;
    --noteTextDivPadding:1rem;
    --noteTextDivPaddingRight:1rem;
    --noteTextDivWidth:13rem;
    
    --listDivMarginTop:1rem;
    --listDivPaddingTop:1rem;
    --listDivBackgound:rgba(255, 255, 255, 0.349);
    --listDivHeight:75vh;
    --listGap:-1rem;
    
    --popDivWidth: 100vw;
    --popDivHeight:100vh;
    --BackDropdropBlur:blur(2px);

    --textAreaWidth:80cqw;
    --textAreaHeight:65cqh;
    --textAreaBackGroundColor:rgba(34, 34, 34, 0.952);
    --textColor:whitesmoke;
    --textAreaRadius:5px;
    --textAreaPadding:1rem;
    
    --EditorTopGap:1rem;
    --editTopButtonBackground:rgb(66, 66, 66);
    --buttonMinWidth:13rem;
    --buttonWidth:35cqw;
    --buttonMarginRight:.7rem;
    --buttonTop:.3rem;
    --borderRad:5px;
    --buttonHeight:2.5rem;
    --buttonTextColor:aliceblue;
    --buttonFontSize:1.2rem;
    --buttonPadding:1rem;

    --bottomButtonsGap:1rem

}